

body{
    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 13vh;
    width: 450px;
    height: 650px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(40, 31, 100, 0.2) 0px 20px 25px 0;
}


.imtop {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
h1{
    margin-top: 35px;
    margin-bottom: 0px;
    font-weight: 900;
}

p{
    display: inline-block;
    text-align: center;
    width: 280px;
    color: hsl(224, 23%, 55%);
}

#pricing{
    display: flex;
    border-radius: 20px;
    background-color: hsl(225, 100%, 98%);
    padding: 15px;
    box-sizing: border-box;
    height: 80px;
    width: 355px;
    margin-bottom: 30px;
}

#music_icon{
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

#price_text{
    width: 60%;
    text-align: left;
}

#price_text p{
    margin: 0;
    text-align: left;
}

#pricing a{
    margin-top: 10px;
    color: hsl(245, 75%, 52%);
    font-weight: 700;
    text-decoration-line: underline;
}

#pricing a:hover{
    color: hsl(245, 75%, 70%);
    text-decoration-line: none;
}


a{
    cursor: pointer;
}


#stonks{
    display: flex;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background-color: hsl(245, 75%, 52%);
    height: 40px;
    width: 355px;
    box-shadow: rgba(40, 31, 100, 0.2) 0px 20px 25px 0;
    margin-bottom: 40px;
}

#stonks:hover{
    background-color: hsl(245, 75%, 70%);
}

#please_dont{
    color:  hsl(224, 23%, 55%);
    font-weight: 700;
}

#please_dont:hover{
    color: hsl(223, 47%, 23%);
}